.content {
  /*max-width: 1284px;
  width: 100%;*/
  padding-bottom: 92px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content__intro {
  max-width: 830px;
  text-align: left;
  /*margin-left: 11.56%;*/
  margin-right: 10%;
}

.content__title {
  font-family: "Inter-Black";
  font-size: 54px;
  font-weight: 900;
  line-height: 58px;
  text-align: left;
  padding-top: 92px;
  margin: 0 auto;
}

.content__text {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: left;
  padding-top: 40px;
  max-width: 830px;
  margin-right: 10%;
  /*margin: 0;*/
}

.content__text-name {
  font-family: "Inter";
  font-size: 24px;
  font-weight: 400;
  line-height: 34px;
  text-align: right;
  max-width: 830px;
  /*margin: 0;*/
  padding-top: 10px;
  margin-right: 10%;
}

.content__footer {
  font-family: "Inter";
  font-size: 16px;
  font-weight: 400;
  line-height: 26.08px;
  text-align: left;
  max-width: 830px;
  margin: 0;
  padding-top: 32px;
  padding-bottom: 118px;
  margin-right: 10%;
}

@media screen and (max-width: 768px) {
  .content {
    margin: 0 auto;
    padding-top: 90px;
  }

  .content__title {
    font-size: 45px;
    line-height: 49px;
    padding: 0;
    margin: 0;
  }
}

@media screen and (max-width: 320px) {
  .content__title {
    font-size: 32px;
    line-height: 35px;
  }

  .content__text {
    line-height: 30px;
  }
}
