.page {
  max-width: 1280px;
  max-height: 2008px;
  margin: 0 auto;
  background-color: #2a2c2f;
  font-family: "Inter", "Arial", sans-serif;
  color: #ffffff;
  text-align: center;
}

.copyright {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.15;
  text-align: right;
  margin: 0 auto;
  padding-bottom: 24px;
  margin-top: 80px;
}
