.photo_grid {
  max-width: 1184px;
  padding-bottom: 10%;
  padding-left: 1.5%;
  padding-right: 1.5%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 10px;
}

.image__photo-grid {
  max-width: 100%;
  object-fit: fill;
}
